*,body{
    background-color: #2b2024; 
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
   
}

#container{
    position: relative;
    height: 500px;
    width:400px;
    border:3px solid black;
    box-shadow: 5px 10px 18px black;    
    align-items: center;
    margin: auto;
    margin-top: 15vh;
}

.query{
    margin-top: 5px;
    margin-left: 1vw;
    
}



/* textarea */
textarea{
    
    resize: none;
    background: none;
    border: none;
    word-break: break-word;
    font-size: 18px;
    color: antiquewhite;
}
.display{
    margin: 6px 12px;
    padding: 10px 10px;
    width:361px;
}

/* //enter textarea */

#output{
    width: 361px;
    height: 60px;
        color: aquamarine;
        padding: 10px 10px; 
        outline: none;
        word-wrap: break-word;
        word-break: break-word;
        border-radius: 6px;
        font-size: 18px ;
        background-color: black;
    
}

button{
    
        height: 42px;
        width: 103px;     
    border-radius: 6px;
    font-size: 24px;
    color: aliceblue;
    outline-style:hidden;
    color:burlywood;
}

#btn{
    position: relative;
  top: 54px;
  left: 142px;
  width: 105px;
}


#image{
    width: 100px;
margin: auto;
position: relative;
top: 137px;
}
img{
    margin-left: 19px;
}
a{
    
    color: grey;
}
footer{
    display: inline-block;
    margin-left: 50%;
    margin-top: 20px;
}

/*phone*/

@media screen and (max-width:500px){
    .display{
        margin: 6px 2px;
  
  width: 366px;
    }
    #container{
        width: 379px;

    }
    .ele{
        position: relative;
        top: 45px;
    }
    #btn{
        top: 38px;
  left: 128px;
    }
    footer{
       margin-left: 49%;
       margin-top: 61px;
    }
}
